<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lastmile.meizu.com.lastmile">
    <!--<ucom.example.huangyongwen.myapplication.service.permissionsion android:name="andrcom.example.huangyongwen.myapplication.service.permissionsion.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>


